.container {
  /* height: 250px; */
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* flex-direction: column; */
}

.child {
  height: 50px;
  width: 50px;
  margin: 10px;
  background-color: cornflowerblue;
}
